/*
 * @Author: hzwuyuedong
 * @Date: 2018-12-17 15:39:25
 * @Last Modified by:   hzwuyuedong
 * @Last Modified time: 2018-12-17 15:39:25
 */

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}
